@media (min-width: 740px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding-left: 6rem;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        padding: 0.5rem 1rem;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}